include README.md
include LICENSE
include requirements.txt
include .env.example
include HOW_TO_GET_COOKIE.md
include changelog.md
recursive-include examples *.py *.md
global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store
global-exclude .env
